<%# BANNER %>
<div class="banner text-center">
  <h1>Ahorra en tus viajes del día a día</h1>
  <div class="form">
    <h3>Search bar</h3>
  </div>
</div>

<%# BENEFICIOS %>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-4 text-center">
      <h4>Miles de viajes baratos</h4>
      <p>Vayas donde vayas, encuentra tu viaje ideal a un precio muy bajo.</p>
    </div>
    <div class="col-12 col-sm-4 text-center">
      <h4>Viaja seguro y tranquilo</h4>
      <p>Para nosotros es muy importante conocer a nuestros usuarios. Por eso, examinamos atentamente las opiniones y los perfiles de nuestros usuarios para que sepas con quién vas a viajar. Puedes reservar tu próximo viaje con total seguridad y tranquilidad.</p>
    </div>
    <div class="col-12 col-sm-4 text-center">
      <h4>¡Busca, elige y a viajar!</h4>
      <p>¡Reservar un viaje es más fácil que nunca! Gracias a nuestra sencilla aplicación y a su potente tecnología, podrás reservar un viaje cerca de ti en minutos.</p>
    </div>
  </div>
</div>
